<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Home page</title>
		<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a href="movies.html.twig">Film</a>
				</li>
				<li>
					<a href="actors.html.twig">Attori</a>
				</li>
				<li>
					<a href="directors.html.twig">Registi</a>
				</li>
				<li>
					<a href="genres.html.twig">Generi</a>
				</li>


				{% if app.session_id is defined %}
					<li>
						<a href="backend/logout.php">Logout</a>
					</li>
				{% else %}
					<li>
						<a href="registrazione.html.twig">Registrati</a>
					</li>

					<li>
						<a href="accesso.html.twig">Accedi</a>
					</li>
				{% endif %}

			</ul>
		</nav>

		<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>

<!-- Home page del sito -->